 
 footer {
	background-color:white;
	height: 60px;
	
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;
	padding-right: 107px;
	color: #000;
	font-family: 'Work Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
